@import '../index.css';

#aboutContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primaryColor);
}

#content *{
    display:none;
}

#content{
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #aboutContainer *{
    border: 1px red solid;
} */



b{
    font-family: Organetto-Medium;
}

#intro{
    background: var(--bgColor);
    border: solid 2px var(--outlineColor);
    padding: 2%;
    border-radius: 1px;
    margin-bottom: 2%;

}

#intro h1{
    font-family:Organetto-Regular;
    font-size: 1.3em;
    margin-bottom: 1%;
}

#intro h2{
     font-family:Organetto-Regular;
    font-size: 1.3em;
    line-height: 1.5em;
}

#skillsContainer{
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.skillsTable{
    height:30vh;
    width:46%;
    border: solid 2px var(--outlineColor);
    background-color: var(--bgColor);
}

.title{
    font-family: Organetto-Regular;
    font-size: .6em;
    padding: 3%;
    background-color: var(--bgColor);
    border-bottom: solid 2px var(--outlineColor);
    margin-bottom: 2%;
    color: var(--primaryColor);
    letter-spacing: .2em;
}

.list{
    padding: 2% 3%;
}

ul{
    font-family: Organetto-Regular;
    font-size: .6em;
    padding-bottom: 1%;
}



@media (min-width: 320px) and (orientation: portrait){
    #content{
        justify-content: space-evenly;
    }

    #skillsContainer{
        flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

    }
    .skillsTable{
        width: 100%;
        height: 50%;
        text-align: center;
    }
}