@import "../index.css";

#aboutContainer{
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
#aboutContainer *{
    color: var(--primaryColor);
}

#content{
    height: 100%;
    display: flex;
    flex-direction:row;
    border: 1px solid blue;
}

#leftContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid salmon;
}

#infoBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid magenta;
    padding: 10%;
}

#titleContainer{
    font-family: "visby_bold";
    font-size:2.88em;
    line-height:1.8em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border: 1px solid sandybrown;
}

#descBox{
    font-family:visby_medium;
    font-size:.5em;
    letter-spacing: .25em;
    border: 1px solid aqua;
}

.svgLink{
    fill: var(--primaryColor);
    width:5%;
    height:auto;
    margin-top: 4%;
    margin-right: 4%;
    border: 1px solid red;
}

#rightContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#skillBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 10%;
}

#toolsTitle{
    font-family: visby_bold;
    font-size:3em;
    padding-bottom: 2%;
    border: 1px solid mediumaquamarine;
    line-height:1em;
}

.skillsTable{
    padding-bottom:6.8% ;
}

.skillsTable h4{
    font-size:.8em;
   font-family: visby_medium;
   line-height: 1.5em;
    padding: 2% 0;
    border: 1px solid magenta;
}

.skillsTitle{
     font-family:visby_semibold;
     font-size:.5em;
     display: flex;
     justify-content: space-between;
     border-bottom: 3px solid var(--primaryColor);
     padding: 2% 0;
}


@media (min-width: 320px) and (orientation: portrait){


#content{
    flex-direction: column;
    justify-content: space-between;

}

#leftContainer{
   width: 100%;
   height: 100%;
}

#rightContainer{
    width: 100%;
    height: 100%;
}

#infoBox{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#titleContainer{
    flex-direction: row;
    font-size:4em;
}

#descBox{
    font-size:.9em;
}

.svgLink{
    width:6%;
}

#skillBox{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#linkContainer{
    display: flex;
    justify-content:center;
}

#toolsTitle{
    font-size:4em;
}

.skillsTitle{
    font-size:1em;
}

.skillsTable h4{
    font-size:1.5em;
}



}
