@import "../index.css";

#aboutContainer{
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}
#aboutContainer *{
    color: var(--primaryColor);
}

#content{
    height: 100%;
    display: flex;
    flex-direction:row;
}

#leftContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#infoBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

#titleContainer{
    font-family: "visby_bold";
    font-size:2.88em;
    line-height:1.8em;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#descBox{
    font-family:visby_medium;
    font-size:.5em;
    letter-spacing: .25em;
}

.svgLink{
    fill: var(--primaryColor);
    width:5%;
    height:auto;
    margin-top: 4%;
    margin-right: 4%;
}

#rightContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#skillBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}

#toolsTitle{
    font-family: visby_bold;
    font-size:3em;
    padding-bottom: 2%;
    line-height:1em;
}


.skillsTable h4{
    font-size:.8em;
   font-family: visby_medium;
   line-height: 1.5em;
    padding: 2% 0;
}

.skillsTitle{
     font-family:visby_semibold;
     font-size:.5em;
     display: flex;
     justify-content: space-between;
     border-bottom: 3px solid var(--primaryColor);
     padding: 2% 0;
}


@media (min-width: 320px) and (orientation: portrait){

#aboutContainer{
    justify-content: center;
}
#content{
    flex-direction: column;
    justify-content: center;
}

#leftContainer{
   width: 100%;
   height: 50%;
}



#rightContainer{
    width: 100%;
    height: 50%;
}

#infoBox{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#titleContainer{
    flex-direction: row;
    font-size:4em;
}

#descBox{
    margin-top:1%;
    margin-bottom:1%;
    line-height:3em;
    font-size:.8em;
}

.svgLink{
    width:6%;
}

#skillBox{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#linkContainer{
    display: flex;
    justify-content:center;
}

#toolsTitle{
    font-size:4em;
}

.skillsTitle{
    font-size:1em;
}

.skillsTable h4{
    font-size:1.6em;
    margin-bottom: 6%;
}



}
