@import "../index.css";

#back{
  display: flex;
  justify-content: center;
}

#back h1 {
  font-size: 0.5em;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: Organetto-Light;
  color: var(--primaryColor);
}

#back a {
  color: var(--primaryColor);
  text-decoration: none;
}

#back h1:before,
#back h1:after {
  content: "";
  position: absolute;
  width: 0%;
  height: .3em;
  top: 39%;
  margin-top: -0.5px;
  background: var(--secondaryColor);
  pointer-events: none;
}
#back h1 {
  position: relative;
  display: block;
  cursor: pointer;
}

#back h1:before {
  left: -4.5px;
}
#back h1:after {
  right: 2.5px;
  background: var(--secondaryColor);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#back h1:hover:before {
  background: var(--secondaryColor);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#back h1:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}






@media (min-width: 320px) and (max-width:1024px) and (orientation: landscape) {
  #back h1 {
  font-size: 1em;
}

}

@media (min-width: 320px) and (orientation: portrait) {

  #back{
     margin: 11% 0;

  }

  #back h1{
    font-size: 1.8em;
  }
}

