@import '../index.css';

#tabContainer{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  width:100%;
  height:100%;
}


#browseContainer {
    height:100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;


}

#browseContainer h1 {
  font-size: 3.5em;
}

#browseContainer h1 .inlineLink h1 {
  font-size: 0.3em;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  line-height: 2.5em;
}
#exit h1 {
  font-size: 0.5em;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: Regular Ext;
  color: var(--primaryColor);
}

#exit a {
     color: var(--primaryColor);
  text-decoration: none;
}

.inlineLink {
  display: flex;
  line-height: 3em;
}

.inlineLink h1:before,
.inlineLink h1:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.18em;
  top: 39%;
  margin-top: -0.5px;
  background: var(--secondaryColor);
}

.inlineLink h1 {
  position: relative;
  display: block;
  cursor: pointer;
}

.inlineLink h1:before {
  left: -4.5px;
}
.inlineLink h1:after {
  right: 2.5px;
  background: var(--secondaryColor);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.inlineLink h1:hover:before {
  background: var(--secondaryColor);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.inlineLink h1:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}







#exit h1:before,
#exit h1:after {
  content: "";
  position: absolute;
  width: 0%;
  height: .3em;
  top: 39%;
  margin-top: -0.5px;
  background: var(--secondaryColor);
  pointer-events: none;
}

#exit h1 {
  position: relative;
  display: block;
  cursor: pointer;
}

#exit h1:before {
  left: -4.5px;
}
#exit h1:after {
  right: 2.5px;
  background: var(--secondaryColor);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#exit h1:hover:before {
  background: var(--secondaryColor);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#exit h1:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

.inlineLink h1 {
  font-family: UltaBold SemiExp;
     color: var(--primaryColor);
}

.inlineLink span {
  font-family: Regular SemiExt;
     color: var(--primaryColor);
}




@media (min-width: 320px) and (orientation: portrait) {
  #tabContainer{
    font-size: 1.2em;
  }

  .linkContainer h1{
    line-height: .5em;
  }
  #exit{
     margin: 10% 0;

  }

  #exit h1{
    font-size: 1.5em;
  }
}

@media (min-width: 320px) and (max-width:1024px) and (orientation: landscape) {
  #exit h1 {
  font-size: 1em;
}

}

