@import '../index.css';


#workContainer{
  display: flex;
  flex-direction:column;
  height: 100%;
}



#workContainer *{
     color: var(--primaryColor);
}

#projectContainer{
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-evenly;
padding: 2% 2%;
}

.projTitle h1{
  font-family: visby_bold;
  font-size:1.5em;
}

.projTitle h3{
  font-family: visby_medium;
  font-size:.5em;
  letter-spacing:.25em;
  padding: 2% 0;

}

.projBox{
  display: flex;
  justify-content:space-between;
  border-bottom: 3px solid var(--primaryColor);
  align-items:center;
  height:inherit;
  cursor: pointer;
}

.projTitle{
  display: flex;
  flex-direction: column;
}

.projNumber{
  font-family: visby_bold;
  font-size:1.8em;
}






@media (min-width: 320px) and (orientation: portrait){
  .projTitle h1{
    font-size:2.5em;
  }

  .projTitle h3{

    font-size:1.2em;

  }

  .projNumber{
  font-size:2.5em;
  }

  #projectContainer{
    padding: 0;
  }
}
